<%= form_for([@task.project, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Enter a new task'%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, class:""%>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Task::STATUS_OPTIONS , class:'btn btn-primary'%>
  </div>
  <div class="input-group-append">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
