<h1>Tasks</h1>

<div class="container">
  <table class="table">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Status</th>
    <th scope="col">Project</th>
    <th></th>
    <th></th>
    <th></th>

  </tr>

<% @tasks.each do |task| %>
    <tbody>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.status %></td>
      <td><%= task.project.name %></td>
      <td><%= link_to 'Show', [task.project, task], class: 'btn btn-primary'%></td>
      <td><%= link_to 'Edit', edit_project_task_path(task.project, task), class: 'btn btn-secondary' %></td>
      <td><%= link_to 'Destroy', [task.project, task], class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    </tbody>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Task', new_project_task_path(params[:project_id]) %>
