<div class="card">
  <div class="card-body">
    <h1 class="card-title d-flex justify-content-between mb-4">
      <span><%= @project.name %></span>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-sm btn-warning" %>
        <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"%>
      </div>
    </h1>
    <h4>Add task</h4>
    <%= render 'tasks/form' %>
  </div>
</div>


<%= link_to 'Back', projects_path %>

<hr>
<h1>New task</h1>


<hr>
<h1>Tasks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
<!--    <th>Project</th>-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @project.tasks.each do |task| %>
    <% if task.persisted? %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.name %></td>
        <td><%= task.descriotion %></td>
        <td><%= task.status %></td>
<!--        <td><%#= task.project.name %></td>-->
        <td><%= link_to 'Show', [task.project, task] %></td>
        <td><%= link_to 'Edit', edit_project_task_path(task.project, task) %></td>
        <td><%= link_to 'Destroy', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%end %>
  <% end %>
</table>

<br />

<%= link_to 'New Task', new_project_task_path(@project.id) %>
